Repository MozillaSecurity/fuzzfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: check-json
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude_types: [json]
        exclude: ^tests/cassettes/
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: tox -e mypy --
        language: system
        require_serial: true
        exclude: ^tests/
        types: [python]
      - id: pylint
        name: pylint
        entry: tox -e pylint --
        language: system
        require_serial: true
        types: [python]

default_language_version:
  python: python3

ci: update pre-commit ruff flags
  .pre-commit-config.yaml
Due: none

feat: automatically retry failed requests
  src/fuzzfetch/download.py
Due: mypy, pylint

feat: add Sentry support for collecting events in automation
  setup.cfg
  src/fuzzfetch/core.py
Due: mypy, pylint

chore: add specific checks around mozinfo.json fetch
  src/fuzzfetch/core.py
Due: mypy, pylint

fix: Check for zst test artifacts
  src/fuzzfetch/core.py
Due: mypy, pylint

feat: add support for zstd compressed tar artifacts
  src/fuzzfetch/extract.py
  tests/test_extract.py
Due: mypy, pylint

chore: improve comments and warnings for external decompressors
  src/fuzzfetch/core.py
  src/fuzzfetch/extract.py
Due: mypy, pylint

fix: dropped path argument to extract methods
  src/fuzzfetch/core.py
Due: mypy, pylint

feat: add linux32- to the search space for taskcluster indexed builds
  src/fuzzfetch/models.py
Due: mypy, pylint

test: add linux32 alias test
  tests/test_models.py
Due: pylint

feat: return newest build matching requested parameters
  src/fuzzfetch/core.py
  src/fuzzfetch/models.py
Due: mypy, pylint

refactor: simplify BuildTask implementation
  src/fuzzfetch/models.py
  tests/test_core.py
Due: mypy, pylint

feat: ensure network is blocked during testing
  tox.ini
Due: none

chore: drop python 3.9
  .github/workflows/ci.yml
  setup.cfg
  tox.ini
Due: none

chore: update CI versions
  .pre-commit-config.yaml
  tox.ini
Due: none

chore: update ruff format python version to 3.10
  pyproject.toml
  src/fuzzfetch/args.py
  src/fuzzfetch/download.py
  src/fuzzfetch/path.py
Due: mypy, pylint

feat: add thunderbird support
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
  src/fuzzfetch/extract.py
  src/fuzzfetch/models.py
  tests/test_core.py
  tests/test_fetch.py
  tests/test_models.py
Due: mypy, pylint

feat: add assertion for hg rev lookup
  src/fuzzfetch/models.py
Due: mypy, pylint

fix: broken type annotation in 3.9
  src/fuzzfetch/extract.py
Due: mypy, pylint

feat: use common sentry config
  setup.cfg
  src/fuzzfetch/core.py
Due: mypy, pylint

feat: allow multiple targets for thunderbird
  src/fuzzfetch/args.py
Due: mypy, pylint
