Repository MozillaSecurity/fuzzfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: yesqa, pyupgrade, flake8, codespell, pylint, toml-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: check-json
  - repo: https://github.com/marco-c/taskcluster_yml_validator
    rev: v0.0.10
    hooks:
      - id: taskcluster_yml
  - repo: https://github.com/MozillaSecurity/orion
    rev: v0.0.7
    hooks:
      - id: orion_ci
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: tox -e poetry -- isort --filter-files
        language: system
        require_serial: true
        types_or: [cython, pyi, python]
      - id: yesqa
        name: yesqa
        entry: tox -e poetry -- yesqa
        language: system
        require_serial: true
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: tox -e poetry -- pyupgrade --py38-plus
        language: system
        require_serial: true
        types: [python]
      - id: black
        name: black
        entry: tox -e poetry -- black
        language: system
        require_serial: true
        types_or: [pyi, python]
      - id: flake8
        name: flake8
        entry: tox -e poetry -- flake8
        language: system
        require_serial: true
        types: [python]
      - id: codespell
        name: codespell
        entry: tox -e poetry -- codespell
        language: system
        require_serial: true
        types: [text]
        exclude_types: [json]
        exclude: ^(tests/mock-+|poetry.lock)
      - id: mypy
        name: mypy
        entry: tox -e poetry -- mypy --install-types --non-interactive
        language: system
        require_serial: true
        exclude: ^tests/
        types_or: [pyi, python]
      - id: pylint
        name: pylint
        entry: tox -e poetry -- pylint
        language: system
        require_serial: true
        types: [python]
      - id: toml-sort
        name: toml-sort
        entry: tox -e poetry -- toml-sort
        files: "^pyproject\\.toml$"
        language: system

default_language_version:
  python: python3

Add 3.13 to CI
  tox.ini
Due: codespell

Update linters
  .pre-commit-config.yaml
  .taskcluster.yml
  pyproject.toml
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
  src/fuzzfetch/download.py
  src/fuzzfetch/models.py
  src/fuzzfetch/utils.py
  tests/test_args.py
  tests/test_download.py
  tests/test_fetch.py
  tests/test_models.py
  tests/test_path.py
  tests/test_utils.py
Due: yesqa, pyupgrade, flake8, codespell, pylint, toml-sort

Support passing BuildID as a `--build` argument.
  src/fuzzfetch/core.py
  src/fuzzfetch/models.py
  src/fuzzfetch/utils.py
  tests/test_utils.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

Update args
  README.md
  src/fuzzfetch/args.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

chore: update linters
  .pre-commit-config.yaml
  tox.ini
Due: codespell

Add --skip-crashreporter-symbols flag
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

Invert flag logic, make it default to skip crashreporter symbols
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

feat: don't download symbols for non-browser downloads, even if available
  src/fuzzfetch/core.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

test: update fetch tests for crashreporter symbols change
  tests/cassettes/test_fetch/test_nearest_retrieval[False-16c36964a84ba18209a6a86b59b5e5dc20e60925-233e73a17c3f7d9f9cbb3fc3dc7f8af9cad499ff-BuildSearchOrder.ASC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[False-2024-06-10-2024-06-11-BuildSearchOrder.ASC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[False-2025-06-12-2025-06-11-BuildSearchOrder.DESC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[False-951502a5faeb2d4ede9d2cc7628091f76996d12c-e1287caec454f439e2faf508a25643e95cbfe4fb-BuildSearchOrder.ASC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[True-16c36964a84ba18209a6a86b59b5e5dc20e60925-233e73a17c3f7d9f9cbb3fc3dc7f8af9cad499ff-BuildSearchOrder.ASC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[True-2024-06-10-2024-06-11-BuildSearchOrder.ASC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[True-2025-06-12-2025-06-11-BuildSearchOrder.DESC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[True-951502a5faeb2d4ede9d2cc7628091f76996d12c-e1287caec454f439e2faf508a25643e95cbfe4fb-BuildSearchOrder.ASC].yaml
  tests/test_core.py
  tests/test_fetch.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

fix: use perf_counter for download timer
  src/fuzzfetch/download.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

test: mock perf_counter to prevent races in tests
  tests/test_download.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

refactor: use suppress instead of try-except pass
  src/fuzzfetch/core.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

refactor: leverage type checking instead of isinstance
  src/fuzzfetch/core.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

refactor: be more explicit with imports
  src/fuzzfetch/__init__.py
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
  src/fuzzfetch/extract.py
  src/fuzzfetch/models.py
  tests/test_models.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

refactor: use f-strings in more places
  src/fuzzfetch/models.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

chore: remove unused suppression
  src/fuzzfetch/errors.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

chore(ci): update linters
  .pre-commit-config.yaml
  src/fuzzfetch/extract.py
  tox.ini
Due: yesqa, pyupgrade, flake8, codespell, pylint

chore(ci): Use Github Actions for CI
  .codecov.yml
  .github/scripts/start-worker.sh
  .github/workflows/ci.yml
  .github/workflows/taskcluster-pr.yml
  .github/workflows/taskcluster-push.yml
  .github/workflows/taskcluster-release.yml
  .pre-commit-config.yaml
  .taskcluster.yml
  README.md
Due: codespell

fix(ci): Install codecov in tox
  tox.ini
Due: codespell

chore(ci): Add -vv to pytest so we see full errors
  .github/workflows/ci.yml
Due: codespell

ci: update pre-commit ruff flags
  .pre-commit-config.yaml
Due: codespell

fix: always check for shippable builds first
  src/fuzzfetch/models.py
  tests/cassettes/test_fetch/test_metadata[False-central [Android-arm-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-central [Android-arm64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-central [Android-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-central [Darwin-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-central [Linux-arm64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-central [Linux-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-central [Windows-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-central [Windows-x86-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-esr-stable [Linux-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-try [Android-arm-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-try [Android-arm64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-try [Android-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-try [Darwin-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-try [Linux-arm64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-try [Linux-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-try [Linux-x86-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-try [Windows-arm64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-try [Windows-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[False-try [Windows-x86-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-central [Android-arm-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-central [Android-arm64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-central [Android-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-central [Darwin-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-central [Linux-arm64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-central [Linux-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-central [Windows-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-central [Windows-x86-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-esr-stable [Linux-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-try [Android-arm-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-try [Android-arm64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-try [Android-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-try [Darwin-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-try [Linux-arm64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-try [Linux-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-try [Linux-x86-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-try [Windows-arm64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-try [Windows-x64-opt]].yaml
  tests/cassettes/test_fetch/test_metadata[True-try [Windows-x86-opt]].yaml
Due: yesqa, pyupgrade, flake8, codespell, pylint
