Repository MozillaSecurity/fuzzfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: tox -e mypy --
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: tox -e pylint --
  language: system
  require_serial: true

Add test for Nyx download
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-asan-nyx-opt
  tests/mock-firefoxci/api/queue/v1/task/MTSYnCvLQu22yorwpSj_rg/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/MTSYnCvLQu22yorwpSj_rg/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/MTSYnCvLQu22yorwpSj_rg/artifacts/public/build/target.mozinfo.json
  tests/test_fetch.py
Due: pylint

Adding tarfile member sanitization to extractall()
  src/fuzzfetch/extract.py
Due: mypy, pylint

Patch for CVE-2007-4559
  src/fuzzfetch/extract.py
  tests/test_extract.py
Due: mypy, pylint

Update pre-commit
  .pre-commit-config.yaml
  tox.ini
Due: none

Update CI
  .pylintrc
  .taskcluster.yml
  pyproject.toml
  src/fuzzfetch/__init__.py
  src/fuzzfetch/core.py
  src/fuzzfetch/download.py
  src/fuzzfetch/errors.py
  src/fuzzfetch/models.py
  tox.ini
Due: mypy, pylint

Search for opt builds under both shippable and regular namespaces (in that order)
  src/fuzzfetch/models.py
Due: mypy, pylint

Use proper description for fetch tests
  tests/test_fetch.py
Due: pylint

Add support for AArch64 builds on macOS and Linux
  src/fuzzfetch/models.py
  tests/mock-firefoxci/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2022.08.04
  tests/mock-firefoxci/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2022.11.18
  tests/mock-firefoxci/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2022.08.04
  tests/mock-firefoxci/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2022.11.18
  tests/mock-firefoxci/api/index/v1/namespaces/gecko.v2.try.pushdate.2022.11.18
  tests/mock-firefoxci/api/index/v1/namespaces/gecko.v2.try.shippable.2022.11.18
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2022.08.04.20220804043413.firefox.linux64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.revision.23d50b5617def9d4152023fd98210c0a9723e3c0.firefox.linux64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.shippable.2022.11.18.latest.firefox.macosx64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.macosx64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.shippable.revision.3b5a8f67189bd6549f0da19ea5da4a53f7e5c79a.firefox.macosx64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.pushdate.2022.11.18.20221118003844.firefox.linux64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.revision.06759ac6f0a0520ad12fdb1bd15153d0dad3d4ce.firefox.linux64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.shippable.2022.11.18.latest.firefox.macosx64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.macosx64-aarch64-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.shippable.revision.7b5b77dd3f3faa76362dd0dea4cf961cd75d374c.firefox.macosx64-aarch64-opt
  tests/mock-firefoxci/api/queue/v1/task/FoqOpQbzQKiI3aUrwi2RBw/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/FoqOpQbzQKiI3aUrwi2RBw/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/FoqOpQbzQKiI3aUrwi2RBw/artifacts/public/build/target.mozinfo.json
  tests/mock-firefoxci/api/queue/v1/task/bKHbmACWQEWpH8j4EeLWnw/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/bKHbmACWQEWpH8j4EeLWnw/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/bKHbmACWQEWpH8j4EeLWnw/artifacts/public/build/target.mozinfo.json
  tests/mock-firefoxci/api/queue/v1/task/bN5bKy9PSGaEz5vr6iS4iQ/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/bN5bKy9PSGaEz5vr6iS4iQ/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/bN5bKy9PSGaEz5vr6iS4iQ/artifacts/public/build/target.mozinfo.json
  tests/mock-firefoxci/api/queue/v1/task/byp1bRw7SVOb3bglsnNbqA/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/byp1bRw7SVOb3bglsnNbqA/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/byp1bRw7SVOb3bglsnNbqA/artifacts/public/build/target.mozinfo.json
  tests/mock-firefoxci/api/queue/v1/task/f-xR4Q8JSSu0i8uAq9qPJA/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/f-xR4Q8JSSu0i8uAq9qPJA/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/f-xR4Q8JSSu0i8uAq9qPJA/artifacts/public/build/target.mozinfo.json
  tests/test_fetch.py
Due: mypy, pylint

Add Darwin fuzzing builds to fetch tests
  tests/mock-firefoxci/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2022.11.21
  tests/mock-firefoxci/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2022.11.21
  tests/mock-firefoxci/api/index/v1/namespaces/gecko.v2.try.pushdate.2022.11.21
  tests/mock-firefoxci/api/index/v1/namespaces/gecko.v2.try.shippable.2022.11.21
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64-fuzzing-asan-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64-fuzzing-debug
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2022.11.21.20221121093640.firefox.macosx64-aarch64-fuzzing-asan-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2022.11.21.20221121093640.firefox.macosx64-aarch64-fuzzing-debug
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.revision.ec2ad590b1485ab7d895d3d8ba9434739f8dd603.firefox.macosx64-aarch64-fuzzing-asan-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.revision.ec2ad590b1485ab7d895d3d8ba9434739f8dd603.firefox.macosx64-aarch64-fuzzing-debug
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-aarch64-fuzzing-asan-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-aarch64-fuzzing-debug
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.pushdate.2022.11.21.20221121064514.firefox.macosx64-aarch64-fuzzing-asan-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.pushdate.2022.11.21.20221121064514.firefox.macosx64-aarch64-fuzzing-debug
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.revision.9791bdb6208f5f9b69e7bab87c45f358312ed06e.firefox.macosx64-aarch64-fuzzing-asan-opt
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.try.revision.9791bdb6208f5f9b69e7bab87c45f358312ed06e.firefox.macosx64-aarch64-fuzzing-debug
  tests/mock-firefoxci/api/queue/v1/task/LMVTsy-qRDqVldUcxSFFGg/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/LMVTsy-qRDqVldUcxSFFGg/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/LMVTsy-qRDqVldUcxSFFGg/artifacts/public/build/target.mozinfo.json
  tests/mock-firefoxci/api/queue/v1/task/Lv0dJkFtQ_yYD68guumkNA/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/Lv0dJkFtQ_yYD68guumkNA/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/Lv0dJkFtQ_yYD68guumkNA/artifacts/public/build/target.mozinfo.json
  tests/mock-firefoxci/api/queue/v1/task/NcoMSqzfSeq4QjHVEnTNjA/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/NcoMSqzfSeq4QjHVEnTNjA/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/NcoMSqzfSeq4QjHVEnTNjA/artifacts/public/build/target.mozinfo.json
  tests/mock-firefoxci/api/queue/v1/task/ObwvA77WQK62jQ3r9l7ehw/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/ObwvA77WQK62jQ3r9l7ehw/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/ObwvA77WQK62jQ3r9l7ehw/artifacts/public/build/target.mozinfo.json
  tests/mock-firefoxci/api/queue/v1/task/e-C7OeUUQ5Gx3W77JzRsSQ/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/e-C7OeUUQ5Gx3W77JzRsSQ/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/e-C7OeUUQ5Gx3W77JzRsSQ/artifacts/public/build/target.mozinfo.json
  tests/mock-firefoxci/api/queue/v1/task/eunDuKWMS4umWG8jKYpCbw/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/eunDuKWMS4umWG8jKYpCbw/artifacts/public/build/target.json
  tests/mock-firefoxci/api/queue/v1/task/eunDuKWMS4umWG8jKYpCbw/artifacts/public/build/target.mozinfo.json
  tests/test_fetch.py
Due: pylint

Add support for lbzip2 and tar
  src/fuzzfetch/core.py
  src/fuzzfetch/extract.py
  tests/test_extract.py
Due: mypy, pylint

Update README
  README.md
Due: none

Update linters
  .pre-commit-config.yaml
  tox.ini
Due: none

Handle directory entries in extract_zip
  src/fuzzfetch/extract.py
  tests/test_extract.py
Due: mypy, pylint

Make destination directory in extract_build()
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
Due: mypy, pylint

Remove default extract_build path
  src/fuzzfetch/core.py
Due: mypy, pylint

Use Path.cwd().resolve()
  src/fuzzfetch/args.py
Due: mypy, pylint

Create parent directories if they don't exist
  src/fuzzfetch/core.py
Due: mypy, pylint

Resolve destination path
  src/fuzzfetch/core.py
Due: mypy, pylint

Update linters.
  .pre-commit-config.yaml
  src/fuzzfetch/extract.py
  src/fuzzfetch/models.py
  tox.ini
Due: mypy, pylint

Use codecov uploader.
  .taskcluster.yml
  tox.ini
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^tests/
  pylint: any of: \.py$
