Repository MozillaSecurity/fuzzfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: tox -e mypy --
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: tox -e pylint --
  language: system
  require_serial: true

Remove dependence on target.mozinfo.json
  src/fuzzfetch/core.py
Due: mypy, pylint

Add support for downloading mozharness
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
Due: mypy, pylint

* Drop Python 3.7 * Update CI
  .pre-commit-config.yaml
  .taskcluster.yml
  setup.cfg
  src/fuzzfetch/core.py
  tox.ini
Due: mypy, pylint

Allow downloading builds which lack crashreporter symbols
  src/fuzzfetch/core.py
Due: mypy, pylint

Add timeout parameter to download_url et al.
  src/fuzzfetch/download.py
Due: mypy, pylint

Include only expected events and actions
  .taskcluster.yml
Due: none

download_url should handle unknown size downloads.
  src/fuzzfetch/download.py
Due: mypy, pylint

Add default owners file for reviews
  .github/CODEOWNERS
Due: none

Use pip-compile to maintain constraints used.
  .pre-commit-config.yaml
  requirements.txt
  setup.cfg
  tox.ini
Due: none

Switch project from setuptools to poetry.
  .pre-commit-config.yaml
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  setup.cfg
  setup.py
  tox.ini
Due: mypy, pylint

Switch to poetry but with a single dev group for lint/test dependencies.
  .pre-commit-config.yaml
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Print error message and return non-zero rather than raising fuzzfetch exceptions.
  src/fuzzfetch/__main__.py
  src/fuzzfetch/core.py
Due: mypy, pylint

feat: check that target exists during build iteration
  src/fuzzfetch/core.py
Due: mypy, pylint

feat: update name for android builds
  src/fuzzfetch/models.py
Due: mypy, pylint

test: add exclusions for builds no longer available
  tests/test_fetch.py
Due: pylint

Remove unnecessary assertion
  src/fuzzfetch/core.py
Due: mypy, pylint

Add flag to download searchfox data.
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
  src/fuzzfetch/models.py
Due: mypy, pylint

Add fetch test for searchfox
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-searchfox-debug
  tests/mock-firefoxci/api/queue/v1/task/fcYf8jKOQ9yV6VtZtbFNJQ/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/fcYf8jKOQ9yV6VtZtbFNJQ/artifacts/public/build/target.json
  tests/test_fetch.py
Due: pylint

Update README
  README.md
Due: none

Fix Nyx codecov builds.
  src/fuzzfetch/core.py
  tests/mock-firefoxci/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-ccov-fuzzing-asan-nyx-opt
  tests/mock-firefoxci/api/queue/v1/task/ZcTIYEkjQO2aChxeIY6fbw/artifacts/.get
  tests/mock-firefoxci/api/queue/v1/task/ZcTIYEkjQO2aChxeIY6fbw/artifacts/public/build/target.json
  tests/test_fetch.py
Due: mypy, pylint

Fix macos symbol extraction location
  src/fuzzfetch/core.py
  tests/test_core.py
Due: mypy, pylint

Update CI to use generic-worker
  .taskcluster.yml
Due: none

Update CI versions
  .pre-commit-config.yaml
  src/fuzzfetch/__init__.py
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
  src/fuzzfetch/download.py
  src/fuzzfetch/errors.py
  src/fuzzfetch/extract.py
  src/fuzzfetch/models.py
  src/fuzzfetch/path.py
  tests/conftest.py
  tests/test_core.py
  tests/test_extract.py
  tests/test_fetch.py
  tox.ini
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^tests/
  pylint: any of: \.py$
