Repository MozillaSecurity/fuzzfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: tox -e mypy --
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: tox -e pylint --
  language: system
  require_serial: true

chore: update README
  README.md
Due: none

fix: repack wheel and source to remove problematic extras
  repack.sh
  tox.ini
Due: none

chore: update ruff format python version to 3.10
  pyproject.toml
  src/fuzzfetch/args.py
  src/fuzzfetch/download.py
  src/fuzzfetch/path.py
Due: mypy, pylint

chore: update CI versions
  .pre-commit-config.yaml
  tox.ini
Due: none

chore: drop python 3.9
  .github/workflows/ci.yml
  setup.cfg
  tox.ini
Due: none

chore: update ruff
  .pre-commit-config.yaml
Due: none

chore: add python 3.14 to CI
  .github/workflows/ci.yml
  tox.ini
Due: none

chore: fix pyo3 install for python 3.14
  tox.ini
Due: none

fix: revert firefox output directory name from g-c to m-c
  src/fuzzfetch/core.py
  src/fuzzfetch/models.py
  tests/test_core.py
Due: mypy, pylint

fix: fix auto-name test to always use linux and add cassettes
  tests/cassettes/test_core/test_auto_name[autoland-firefox-autoland-20251107165513-opt].yaml
  tests/cassettes/test_core/test_auto_name[beta-firefox-m-b-20251107021527-opt].yaml
  tests/cassettes/test_core/test_auto_name[beta-thunderbird-c-b-20251103170853-opt].yaml
  tests/cassettes/test_core/test_auto_name[central-firefox-m-c-20251107164336-opt].yaml
  tests/cassettes/test_core/test_auto_name[central-thunderbird-c-c-20251106232556-opt].yaml
  tests/cassettes/test_core/test_auto_name[esr140-firefox-m-esr140-20251106203603-opt].yaml
  tests/cassettes/test_core/test_auto_name[esr140-thunderbird-c-esr140-20251107133303-opt].yaml
  tests/cassettes/test_core/test_auto_name[release-firefox-m-r-20251106194447-opt].yaml
  tests/cassettes/test_core/test_auto_name[release-thunderbird-c-r-20251106212021-opt].yaml
  tests/cassettes/test_core/test_auto_name[try-firefox-try-20251107165543-opt].yaml
  tests/cassettes/test_core/test_auto_name[try-thunderbird-try-c-c-20251107030132-opt].yaml
  tests/test_core.py
Due: pylint

fix: rename test fixtures to avoid long path names
  tests/cassettes/test_fetch/test_nearest_retrieval[non-ns-future-date].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[non-ns-old-date].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[non-ns-old-rev].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[ns-future-date].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[ns-old-date].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[ns-old-rev].yaml
  tests/test_fetch.py
Due: pylint

fix: use ArgumentParser to validate build artifact names
  src/fuzzfetch/args.py
Due: mypy, pylint

fix: add missing 'xpcshell' target
  src/fuzzfetch/args.py
Due: mypy, pylint

feat: export product class
  src/fuzzfetch/__init__.py
Due: mypy, pylint

ci: use PyPI trusted publisher (OIDC) for publishing
  .github/workflows/ci.yml
Due: none

ci: remove codecov token
  .github/workflows/ci.yml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^tests/
  pylint: any of: \.py$
