Repository MozillaSecurity/fuzzfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: yesqa, pyupgrade, flake8, codespell, pylint, toml-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: check-json
  - repo: https://github.com/marco-c/taskcluster_yml_validator
    rev: v0.0.10
    hooks:
      - id: taskcluster_yml
  - repo: https://github.com/MozillaSecurity/orion
    rev: v0.0.7
    hooks:
      - id: orion_ci
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: tox -e poetry -- isort --filter-files
        language: system
        require_serial: true
        types_or: [cython, pyi, python]
      - id: yesqa
        name: yesqa
        entry: tox -e poetry -- yesqa
        language: system
        require_serial: true
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: tox -e poetry -- pyupgrade --py38-plus
        language: system
        require_serial: true
        types: [python]
      - id: black
        name: black
        entry: tox -e poetry -- black
        language: system
        require_serial: true
        types_or: [pyi, python]
      - id: flake8
        name: flake8
        entry: tox -e poetry -- flake8
        language: system
        require_serial: true
        types: [python]
      - id: codespell
        name: codespell
        entry: tox -e poetry -- codespell
        language: system
        require_serial: true
        types: [text]
        exclude_types: [json]
        exclude: ^(tests/mock-+|poetry.lock)
      - id: mypy
        name: mypy
        entry: tox -e poetry -- mypy --install-types --non-interactive
        language: system
        require_serial: true
        exclude: ^tests/
        types_or: [pyi, python]
      - id: pylint
        name: pylint
        entry: tox -e poetry -- pylint
        language: system
        require_serial: true
        types: [python]
      - id: toml-sort
        name: toml-sort
        entry: tox -e poetry -- toml-sort
        files: "^pyproject\\.toml$"
        language: system

default_language_version:
  python: python3

feat!: drop --gtest argument
  src/fuzzfetch/args.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

docs: set module docstring below license
  src/fuzzfetch/__init__.py
  src/fuzzfetch/__main__.py
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
  src/fuzzfetch/download.py
  src/fuzzfetch/errors.py
  src/fuzzfetch/extract.py
  src/fuzzfetch/models.py
  src/fuzzfetch/path.py
  tests/conftest.py
  tests/test_args.py
  tests/test_core.py
  tests/test_download.py
  tests/test_extract.py
  tests/test_fetch.py
  tests/test_path.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

test: add tests for download module
  tests/test_download.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

test: use freezegun instead of the outdated pytest-freezegun
  tox.ini
Due: codespell

feat: add support for xz builds
  src/fuzzfetch/core.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

fix: tar -C requires that the destination exists
  src/fuzzfetch/extract.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

test: expand and add parameterization to extract tests
  tests/test_extract.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

test: update core cassettes
  tests/cassettes/test_core/test_extract_build_linux.yaml
  tests/cassettes/test_core/test_extract_build_macos.yaml
Due: codespell

refactor: use tuples for immutable sets
  src/fuzzfetch/core.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

fix: set task before resolving targets
  src/fuzzfetch/core.py
  tests/cassettes/test_fetch/test_nearest_retrieval[False-16c36964a84ba18209a6a86b59b5e5dc20e60925-233e73a17c3f7d9f9cbb3fc3dc7f8af9cad499ff-BuildSearchOrder.ASC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[False-2023-12-04-2023-12-05-BuildSearchOrder.ASC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[False-2024-12-05-2024-12-04-BuildSearchOrder.DESC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[True-16c36964a84ba18209a6a86b59b5e5dc20e60925-233e73a17c3f7d9f9cbb3fc3dc7f8af9cad499ff-BuildSearchOrder.ASC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[True-2023-12-04-2023-12-05-BuildSearchOrder.ASC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[True-2024-12-05-2024-12-04-BuildSearchOrder.DESC].yaml
  tests/cassettes/test_fetch/test_nearest_retrieval[True-a53a2b4b87d3cffa7582c252478f44077faa7775-5d6699b34edce04ffd8886be86de9d604d88a89a-BuildSearchOrder.ASC].yaml
  tests/test_fetch.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

Update CI
  .taskcluster.yml
  pyproject.toml
  tox.ini
Due: codespell, toml-sort

Update warnings for lbzip/xz availability
  src/fuzzfetch/core.py
  src/fuzzfetch/extract.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

Cleanup file decompression.
  src/fuzzfetch/extract.py
  tests/test_extract.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

Update typing format
  src/fuzzfetch/args.py
  src/fuzzfetch/core.py
  src/fuzzfetch/download.py
  src/fuzzfetch/models.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

Add macos GH worker
  .github/scripts/start-worker.sh
  .github/workflows/taskcluster-pr.yml
  .github/workflows/taskcluster-push.yml
  .github/workflows/taskcluster-release.yml
Due: codespell

Fix tests for mac & windows
  src/fuzzfetch/path.py
  tests/test_args.py
  tests/test_fetch.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

Add subdir to extract_tar tests
  tests/test_extract.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

Make fetch test names more descriptive
  tests/cassettes/test_fetch/test_fetcher_variants[asan-fuzzing-afl-firefox].yaml
  tests/cassettes/test_fetch/test_fetcher_variants[asan-fuzzing-nyx-ccov-firefox].yaml
  tests/cassettes/test_fetch/test_fetcher_variants[asan-fuzzing-nyx-firefox].yaml
  tests/cassettes/test_fetch/test_fetcher_variants[debug-fuzzilli-js].yaml
  tests/cassettes/test_fetch/test_fetcher_variants[debug-searchfox].yaml
  tests/test_fetch.py
Due: yesqa, pyupgrade, flake8, codespell, pylint

Update README with latest args
  README.md
Due: codespell

Fix matrix badge
  README.md
Due: codespell
